
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

/* Border-Box */

*, *:before, *:after {box-sizing: inherit;}

html {box-sizing: border-box;}
input[type="text"], input[type="email"], input[type="search"], input[type="password"] {-webkit-appearance: none; -moz-appearance: none;}
html {font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}

body {margin: 0;}

/* HTML5 display definitions */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block; vertical-align: baseline;}
audio:not([controls]) {display: none; height: 0;}

[hidden],template {display: none;}

/* Links */

a {background: transparent;}
a:active,a:hover {outline: 0;}

/* Text-level semantics */

abbr[title] {border-bottom: 1px dotted;}

/* Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */

b,strong {font-weight: bold;}

/* Address styling not present in Safari and Chrome. */

dfn { font-style: italic;}
h1 {font-size: 2em; margin: 0.67em 0;}
mark {background: #ff0; color: #000;}
small {font-size: 80%;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img, i {border: 0; vertical-align: middle;}
svg:not(:root) {overflow: hidden;}
figure {margin: 1em 40px;}
hr {height: 0;}
pre {overflow: auto;}
code, kbd, pre, samp {font-family: monospace, monospace; font-size: 1em;}

/* Forms */

button,input,optgroup,select,textarea {color: inherit; font: inherit; margin: 0;}
button {overflow: visible;}
button,select {text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button; cursor: pointer;}
button[disabled],html input[disabled] {cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0; padding: 0;}

input {line-height: normal;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box; padding: 0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;}
legend {border: 0; padding: 0;}
textarea {overflow: auto;}
optgroup {font-weight: bold;}

/* Tables */

table {border-collapse: collapse; border-spacing: 0;}
td, th {padding: 0;}

/***************** Основное *********************/

html, body, #main {height: 100%;}
html {font-size: 15px;}
body {margin: auto; padding: 0px; overflow-x: hidden; min-width: 300px; background-color: #fafafa; color: #636b6f; font-family: 'Raleway', sans-serif; max-width: 600px; font-size: 15px; line-height: 1.4285em; font-smoothing: antialiased;}

/* Headers */

h1, h2, h3, h4, h5 {font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif; line-height: 1.2857em; margin: calc(2rem -  0.14285em ) 0em 1rem; font-weight: bold; padding: 0em;}
h1 {min-height: 1rem; font-size: 2rem;}
h2 {font-size: 1.714rem;}
h3 {font-size: 1.28rem;}
h4 {font-size: 1.071rem;}
h5 {font-size: 1rem;}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {margin-top: 0em;}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child {margin-bottom: 0em;}

/* Text */

p {margin: 0em 0em 1em; line-height: 1.4285em;}
p a {vertical-align: top;}
p:first-child {margin-top: 0em;}
p:last-child {margin-bottom: 0em;}

/* Links */

a {color: #4183C4; text-decoration: none;}
a:hover {color: #1e70bf; text-decoration: none;}

::-webkit-selection {background-color: #CCE2FF; color: rgba(0, 0, 0, 0.87);}
::-moz-selection {background-color: #CCE2FF; color: rgba(0, 0, 0, 0.87);}
::selection {background-color: #CCE2FF; color: rgba(0, 0, 0, 0.87);}

@-webkit-keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

#title {margin: 0em 0em 0.5em 0em;}
#title .tIcon {display: block;}
#title .tIcon.mail {color: orange;}
#title .tIcon.notification {color: orange;}
#title .tIcon.left {padding: 0; display: none;}
#title .tIcon.friend {color: orange;}
#title .tIcon.friend, #title .tIcon.mail, #title .tIcon.notification {display: none;}
#title .tIcon.mail, #title .tIcon.notification {display: none;}
#title .tIcon.friend, #title .tIcon.notification {display: none;}
#title.friend .tIcon.friend, #title.mail .tIcon.mail {display: block; -webkit-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; -moz-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; -o-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite;}
#title.friend .tIcon.friend, #title.mail .tIcon.mail, #title.notification .tIcon.notification {display: block; -webkit-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; -moz-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; -o-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite;}
#title.mail .tIcon.mail, #title.notification .tIcon.notification {display: block; -webkit-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; -moz-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; -o-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite;}
#title.friend .tIcon.friend, #title.notification .tIcon.notification {display: block; -webkit-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; -moz-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; -o-animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite; animation: blinker 1s cubic-bezier(0, 0.99, 1, 1.01) infinite;}
#title.returns .tIcon.left {display: block;}
#title.returns .tIcon.left.active div {display: block;}

#actions a {display: inline-block; margin-left: 5px; font-weight: normal; line-height: 1.25; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; border: 1px solid #ccc; padding: 0.25rem 0.5rem; font-size: 0.875rem; border-radius: 0.25rem; color: #373a3c; background-color: #f6f7f9;}
#actions a:hover {color: #373a3c; background-color: #e6e6e6; border: 1px solid #adadad;}

#options a {display: inline-block; margin-left: 5px; font-weight: normal; line-height: 1.25; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; border: 1px solid #e1e8ed; padding: 0.25rem 0.5rem; font-size: 0.875rem; border-radius: 0.25rem; color: #373a3c; background-color: #fff;}
#options a:hover {color: orange; border-bottom: 1px solid orange;}

#footer {margin-top: 1em; padding: 0 .5em; text-align: right; font-size: 0.8em; color: #969696;}

section#content {padding: 0.3em; font-size: .8em;}

#tabs {margin-top: 5px; margin-bottom: 5px; text-align: center; background: #fff;}
#tabs a.tab {display: inline-block; padding: .5em; font-size: 14px; text-decoration: none; color: #969696; line-height: 2em; border: 1px solid transparent; border-bottom: none; margin-bottom: -1px;}
#tabs a.tab.sel1 {color: grey; cursor: default; border-bottom: 2px solid grey;}

td.icon {width: 16px; padding-right: 3px; padding-top: 2px;}
td.title {position: relative; white-space: nowrap;}
td.right {text-align: right;}
td.content {padding: .5em 0;}
td.image {width: 48px; padding-right: .5em;}

span.counter {background: #fff; border: 1px solid #e9ebee; border-radius: 2px; color: grey; display: inline-block; min-width: 3em; padding: 2px 5px; position: absolute; right: 0; text-align: center; top: 0; vertical-align: baseline;}
span.time {color: #969696; font-size: 0.8em; line-height: 1.5em;}
span.vote_name {font-weight: bold; display: block; text-align: center; padding: 0.5em;}

.user a {display: inline-block; background-color: #fff; height: 1.5em; line-height: 1.5em; vertical-align: middle; padding: 0 .5em; overflow: hidden; text-overflow: ellipsis; width: 100%; text-align: left;}
.user .nick {color: grey; font-weight: bold;}
.user .login, .reg {color: grey; border-left: 2px solid grey; margin: 5px;}

.textarea {position: relative;}
.textarea.smiles .smiles {border: 1px solid rgba(34, 36, 38, 0.15); position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow-y: auto; padding: .1em; display: block; background-color: #fff;}
.textarea .smiles {display: none;}

.el_profile {text-align: center; background: #fff;}
.el_profile i {vertical-align: middle; padding-bottom: 2px;}
.el_profile .profile {border: 0; border-top-left-radius: 3px; border-top-right-radius: 3px; display: inline-block; vertical-align: top; -webkit-user-select: none; height: 0; width: 100%;}
.el_profile .avatar_img {border: 2px solid #fff; border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, .125); display: block; margin-top: -50%;}
.el_profile .nick {color: #1d2129; font: 26px helvetica, arial, sans-serif; font-weight: 300; letter-spacing: -0.25px; line-height: 1;}
.el_profile .block {color: #90949c; padding: 12px;font-size: 12px;line-height: 16px;}
.el_profile .action {color: #90949c; padding: 12px; font-size: 12px; line-height: 16px; border-bottom: 1px solid #ced0d4; border-top: 1px solid #dddfe2; border-left: 1px solid #e1e8ed; border-right: 1px solid #e1e8ed; box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.06); text-align: center; background: rgb(246, 247, 249);}
.el_profile .nick .on {color: green; font-size: 12px;}
.el_profile .nick .off {color: grey; font-size: 12px;}
.el_profile .d_r {background: transparent; bottom: 10px; color: grey; font-size: 14px; padding: 0px 6px 1px; top: auto; white-space: nowrap; right: 8px;}
.el_profile .addfon {-webkit-transition: opacity 500ms; text-decoration: none; -moz-transition: opacity 500ms; -o-transition: opacity 500ms; transition: opacity 500ms; position: absolute; color:#E0E0E0; padding:5px; right: 0; text-align: center;}
.el_profile .addfon:hover {color:#fff; text-decoration: none;}
.el_profile .act {padding: 5px; min-width: 32px; text-align: center; border-radius: 2px; background: #fff; color: grey; border: 1px solid #e9ebee;}
.el_profile .act:hover {border-bottom: 1px solid orange;}
.el_profile .comments a {transition: all 0.6s ease 0s; opacity: 0.4; max-height: 90%; border-radius: 3px; display: block; border: 3px solid #FFF; position: absolute; bottom: 3px; left: 3px; padding: 1px; background: #FFF none repeat scroll 0% 0%; cursor: pointer; text-decoration: none;}
.el_profile .comments:hover {opacity: 1;}
.el_profile .like a {transition: all 0.6s ease 0s; opacity: 0.4; max-height: 90%; border-radius: 3px; display: block; border: 3px solid #FFF; position: absolute; bottom: 3px; right: 3px; padding: 1px; background: #FFF none repeat scroll 0% 0%; cursor: pointer; text-decoration: none;}
.el_profile .like:hover {opacity: 1;}

.smiles_button {position: absolute; bottom: .1em; right: .1em; width: 1.5em; height: 1.5em; color: #ccc;}
.smiles .smile {margin: .5em;}

#adt_top, #adt_bottom {text-align: center; margin-bottom: 20px;}
#adt_top a, #adt_bottom a {display: block; margin: 5px;}
#adt_top {border-radius: 5px;}
#messages > div {margin: 5px auto; padding: 5px 2%; min-width: 50%; text-align: center;}
#content {padding: 3px; position: relative; overflow: hidden;}

.nick_on:after {content: '●'; margin-left: 2px; color: #07BE07;}
.nick_off:after {content: '●'; margin-left: 2px; color: grey;}
.nick_on, .nick_off, .nick_donate, .nick_birthday {vertical-align: middle;}
.nick_birthday i {color: orange;}
.nick_donate i {color: green;}

.votes {position: relative; background: #FFF; padding: 5px; border-radius: 2px; margin: 5px 0 10px; box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.04); font-size: 12px;}
.votes_name {display: block; font-weight: bold; padding: 10px; text-align: center; white-space: pre;}
.vote_name {padding-top: 10px;}
.vote_container {background-color: rgba(56, 56, 56, 0.1); border-radius: 2px; overflow: hidden;}
.vote_scale {padding: 5px; background-color: rgb(255, 187, 91); border-radius: 2px; box-shadow: 1px 0 5px rgba(0, 0, 0, 0.35); border-right: 1px solid rgba(243, 243, 243, 0.07);}
.votes .vote_plus {padding: 5px; min-width: 40px; text-align: center; display: inline-block; margin: 0 5px; background-color: #FFBB5B; color: #383838; border-radius: 2px;}
.votes .vote_plus:hover {text-decoration: none;}


.listing {margin-bottom: 10px; box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.06); background-color: #fff; border-radius: 2px; overflow: hidden; border: 1px solid #e1e8ed;}
.listing .post {margin: 0; padding: 10px 5px; border: none; color: #383838; display: block; font-size: 100%; overflow: hidden; position: relative; border-bottom: 1px solid #e1e8ed;}
.listing .comment {margin: 0; padding: 10px 5px; border: none; color: #383838; display: block; font-size: 100%; overflow: hidden; position: relative; border-bottom: 1px solid #e1e8ed;}
.listing .post:hover:not([data-post-url=""]) {background-color: #f5f8fa; cursor: pointer;}
.listing .post:not([data-post-url=""]) {transition: all 500ms;}
.listing .comment:hover:not([data-post-url=""]) {cursor: pointer; background-color: #f5f8fa;}
.listing .comment:not([data-post-url=""]) {transition: all 500ms;}
.listing .post.highlight {background-color: rgb(246, 247, 249);}
.listing .post.icon {display: inline-block; vertical-align: middle; margin-top: -2px;}

.post {display: block; padding: 1em 0;}
.post.highlight td.title {font-weight: bold; color: #383838;}
.post td.content a {color: #373a3c; text-decoration: none;}
.post td.icon, td.title {vertical-align: middle;}
.post.icon .post_icon {display: inline-block; vertical-align: middle; margin-top: -3px;}
.post.image .post_image {float: left; display: inline-block; width: 50px; overflow: hidden; border-radius: 2px; border: 1px solid #BBB; box-shadow: 1px 1px 3px #E4E4E4;}
.post:first-child {border-top-left-radius: 3px; border-top-right-radius: 3px;}
.post:last-child {border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}

.select_bar {display: block; text-align: center; font-size: 0.66em; line-height: 3em;}
.select_bar > * {display: inline-block; padding: 0 .5em; margin: .2em; border-radius: .2em; background-color: #ccc; max-width: 30%; overflow: hidden; text-overflow: ellipsis;}

/* Цитирование */
.quote {border-left: 2px solid grey; padding: 4px; color: #838383; font-size: 90%;}
.quote a {color: #838383;}
.quote_title {}

.chart {margin-bottom: 10px; border: 1px solid #DBDBDB; border-radius: 2px; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.14);}
.photo {display: block; margin: 2px auto; background: #EBEBEB; padding: 5px; border: 1px solid #DFDFDF; border-radius: 5px;}
/* Маркер - выделение текста в поисках и тд*/
.mark {box-shadow: 0 0 0 2px #0077FF; background-color: #E2E8FF; border-radius: 2px; padding: 0 3px; margin: 0 2px;}

.rating_up {color: #00711B;}
.rating_down {color: #96000E;}

.title_text {border-bottom: 1px solid #dddfe2; width: 100%; line-height: 26px; word-wrap: break-word; text-transform: uppercase; float: left; font-size: 14px; color: #90949c; font-weight: bold;}
.center_text {background: #f5f7fa; padding-right: 5px; padding-left: 5px; margin-left: -50px; font-weight: bold; position: absolute; text-transform: uppercase; color: #90949c; font-size: 11px; line-height: 12px; text-overflow: ellipsis; white-space: nowrap;}
.left_text {background: #fff; padding-right: 5px; font-weight: bold; float: left; text-transform: uppercase; color: #90949c; font-size: 11px; line-height: 12px; text-overflow: ellipsis; white-space: nowrap;}
.right_text {background: #fff; padding-left: 5px; font-weight: bold; float: right; text-transform: uppercase; color: #90949c; font-size: 11px; line-height: 12px; text-overflow: ellipsis; white-space: nowrap;}
.list-preg {clear: both; color: #4b4f56; padding-bottom: 12px; padding-top: 12px;}
.hr {margin: 5px 0 5px 0; border-bottom: 1px #e5e5e5 solid;}

.btn {display: inline-block; font-weight: normal; line-height: 1.25; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; border: 1px solid transparent; padding: 0.5rem 1rem; font-size: 1rem; border-radius: 0.25rem;}
.btn img, i {vertical-align: middle; margin-top: -3px;}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
.btn:focus, .btn:hover {text-decoration: none;}
.btn.focus {text-decoration: none;}
.btn:link, .btn a {text-decoration: none;}
.btn:active, .btn.active {background-image: none; outline: 0;}

.btn-grey {color: #373a3c; background-color: #f6f7f9; border-color: #ccc;}
.btn-grey:hover {color: #373a3c; background-color: #e6e6e6; border-color: #adadad;}
.btn-grey:focus, .btn-grey.focus {color: #373a3c; background-color: #e6e6e6; border-color: #adadad;}

.btn-secondary {color: #373a3c; background-color: #fff; border-color: #ccc;}
.btn-secondary:hover {color: #373a3c; background-color: #e6e6e6; border-color: #adadad;}
.btn-secondary:focus, .btn-secondary.focus {color: #373a3c; background-color: #e6e6e6; border-color: #adadad;}

.btn-sm, .btn-group-sm > .btn {padding: 0.25rem 0.5rem; font-size: 0.875rem; border-radius: 0.2rem;}
